@font-face{
  font-family: 'novaBold';
  src: url('../assets/nova-bold.otf') format ('otf');
  font-weight: 600;
  font-style: normal;
}

table td{
  padding:10px;
  border: 1px solid;
}

table{
  background: url('../assets/car.png')
}
div{
  font-family: 'novaBold';
}

span{
  height: 10px;
  width: 100%;
  background: green;
}